

/* // `xs` returns only a ruleset and no media query */
@media screen and (max-width: 575.98px) {
    nav .nav_body .nav_links {
       
        flex-direction: column;
        border: 1px solid red;
        position: absolute;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.347);
        padding: 10px 10px;
        display: none;
    }

    nav .nav_links.active{
        display: block;
    }

    nav .nav_body .nav_links li {
        margin-right: 37px;
        padding-top: 13px;
        padding-bottom: 10px;
        text-align: center;
       
    }

    nav .sign_button span {
       float: right;
       /* margin-bottom: 15px; */
    }
    .toggle_btn{
        margin-top: 17px;
        
    }
    header .header_links {
       
        justify-content: center;
    }

    header .header_links li {
        padding: 5px 8px;
    }

    

    header .header_contact ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    
    header .header_contact ul li {
        margin-right: 0px;
        padding-top: 5px;
    }

    nav .logo_img {
        padding-top: 25px;
        padding-bottom: 5px;
        text-align: center;
    }

    nav .sign_button {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #banner .banner_content h1 {
        font-size: 32px;
        line-height: 45px;
    }

    #banner .banner_content {
        padding-top: 55px;
        padding-bottom: 35px;
        /* border: var(--border); */
    }

    #banner .banner_content p {
        height: 47px;
        font-size: 15px;
        line-height: 22px;
        padding-top: 15px;
    }

    #banner .banner_img img{
       
        width: 100%;
        margin-top: 50px;
    }

    #banner .banner_img {
       
        padding-bottom: 40px;
       
    }

    #banner .paragraph p {

        line-height: 23px;
      
    }

    #banner .paragraph {
        padding-top: 20px;
        padding-bottom: 20px;
       
    }

    .common_heading {
        padding-top: 35px;
        padding-bottom: 30px;
       
    }

    #community .sign_up .sign_up_arrow {
        padding-top: 14px;
        padding-bottom: 11px;
        text-align: center;
    }

    #community .sign_up .signup_precess {
        padding-bottom: 18px;
    }

   
    #community .sign_up .signup_precess .right h2 {
        font-size: 15px;
        line-height: 14px;
    }

    
    #community .sign_up .signup_precess .left_icon i {
        font-size: 45px;
    }

    #community .sign_up .signup_precess .left_icon i {
        font-size: 42px;
    }
    #community .sign_up .signup_precess .left_icon {
        padding-right: 15px;
    }
    
    #community .sign_up .sign_up_arrow ul li i {
        padding-right: 44px;
    }

    #community .sign_up .signup_precess {
        padding-bottom: 19px;
        padding-left: 70px;
    }
}

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    nav .nav_body .nav_links {
       
        flex-direction: column;
        border: 1px solid red;
        position: absolute;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.347);
        padding: 10px 10px;
        display: none;
    }

    nav .nav_links.active{
        display: block;
    }

    nav .nav_body .nav_links li {
        margin-right: 37px;
        padding-top: 13px;
        padding-bottom: 10px;
        text-align: center;
       
    }

    nav .sign_button span {
       float: right;
       /* margin-bottom: 15px; */
    }
   
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1400px) {}