* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

i,
a,
span,
img {
    text-decoration: none;
    display: inline-block;
}

img {
    padding: 0;
    margin: 0;
}


ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


:root {
    --brand_color: #5db442;
    --white: white;
    --roboto: 'Roboto', sans-serif;
    --black_head: #282828;
    --border: 1px solid red;
    --banner_color: #4ba367;
    --black: #000000;
    --font_color: #333333;
}

/**header part start**/

header {
    background-color: var(--black_head);
}

header .header_links {


    /* border: 1px solid red; */
    display: flex;
    width: 100%;
}

/* .header .header_links {} */

header .header_links li {

    padding: 10px 10px;
}

header .header_links li a {
    color: var(--white);
}


/* header .header_links li a i {} */

/* header .header_contact {} */

header .header_contact ul {
    display: flex;
}

header .header_contact ul li {
    margin-right: 35px;
    padding-top: 11px;
}

header .header_contact ul li a {
    text-decoration: none;
    color: var(--white);
    /* border: var(--border); */
    display: flex;
    align-items: center;
}

header .header_contact ul li a i {
    margin-right: 10px;
}


/**header part end**/


/**nav part start**/

nav {
    /* border: var(--border); */
}

nav .logo_img {
    padding-top: 30px;
    padding-bottom: 30px;
}

nav .nav_body {
    /* border: var(--border); */
    display: flex;
    justify-content: flex-end;

}

/* nav .nav_body .nav_links {} */

nav .nav_body .nav_links {

    /* justify-content: flex-end; */
    display: flex;
}

nav .nav_body .nav_links li {
    margin-right: 40px;
    padding-top: 37px;
    padding-bottom: 30px;
}

nav .nav_body .nav_links li a {
    text-decoration: none;
    display: flex;
    font-size: 14px;
    line-height: 14px;
    color: var(--black);
    font-weight: 400;
    font-family: var(--roboto);


}

/* nav . .nav_body .nav_links li a i {} */

nav .nav_body .sign_button {
    padding-top: 27px;
    padding-bottom: 25px;
}

nav .nav_body .sign_button span {
    display: flex;
    font-size: 12px;
    line-height: 12px;
    color: #5db442;
    font-weight: 500;
    font-family: var(--roboto);
    text-align: center;
    padding: 10px 30px;
    border-radius: 17px;
    border: 1px solid var(--brand_color);
}


/**nav part end**/

/**banner part start**/

#banner {
    background-color: var(--banner_color);
    /* border: var(--border); */

}

#banner .banner_content {
    padding-top: 95px;
    padding-bottom: 45px;
    /* border: var(--border); */

}

#banner .banner_content h1 {


    font-size: 48px;
    line-height: 60px;
    color: var(--black);
    font-weight: 300;
    font-family: var(--roboto);
    text-align: center;

}

#banner .banner_content p {

    height: 51px;
    font-size: 16px;
    line-height: 26px;
    color: var(--black);
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
    padding-top: 20px;

}


#banner .banner_img {
    text-align: center;
    padding-bottom: 85px;
    /* border: var(--border); */
}

/* #banner .banner_img img {} */

#banner .form {
    /* border: var(--border); */
    /* padding-top: 90px; */
    padding-bottom: 15px;

}

#banner form {
    /* border: var(--border); */
    width: 300px;
    margin: auto;
    display: flex;
}


#banner form .search {
    border: 3px solid #377f4d;
    flex: 1;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 12px;
    line-height: 26px;
    color: #cccccc;
    font-weight: 300;
    font-family: var(--roboto);
    /* left: 10px; */
    padding-left: 20px;


}

#banner form button {
    border: 1px solid #377f4d;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #377f4d;
    padding: 10px 10px;
    font-size: 14px;
    line-height: 26px;
    color: var(--white);
    font-weight: 300;
    font-family: var(--roboto);
    text-align: center;
}


#banner .paragraph {
    padding-top: 20px;
    padding-bottom: 70px;
    /* border: var(--border); */
}

#banner .paragraph p {
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 250;
    font-family: var(--roboto);
    text-align: center;
}

/**banner part end**/


/***common heading part start**/

.common_heading {
    padding-top: 100px;
    padding-bottom: 40px;
    border: var(--border);
}

.common_heading h2 {
    font-size: 48px;
    line-height: 60px;
    color: var(--black);
    font-weight: 300;
    font-family: var(--roboto);
    text-align: center;
}

/***common heading part end**/


/**community part start**/

#community {
    background-color: #f9f9f9;
    padding-bottom: 105px;
}

#community .sign_up {
    border: var(--border);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.745);
    /* padding-top: 100px; */
    /* padding-bottom: 70px; */

}

#community .sign_up .sign_up_arrow {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

/* #community .sign_up .sign_up_arrow ul {} */

#community .sign_up .sign_up_arrow ul li {
    font-size: 20px;
    line-height: 20px;
    color: #d3d3d3;
    border: var(--border);
}

#community .sign_up .sign_up_arrow ul li i {}

#community .sign_up .signup_precess {
    display: flex;
    padding-left: 160px;
    border: var(--border);
}

#community .sign_up .signup_precess .left_icon {
    padding-right: 30px;
}

#community .sign_up .signup_precess .left_icon i {
    font-size: 70px;
    color: var(--brand_color);
}

#community .sign_up .signup_precess {
    padding-bottom: 70px;
}

#community .sign_up .signup_precess .right {}

#community .sign_up .signup_precess .right h2 {
    font-size: 26px;
    line-height: 24px;
    color: var(--brand_color);
    font-weight: 250;
    font-family: var(--roboto);
}

#community .sign_up .signup_precess .right h2 ul {}

#community .sign_up .signup_precess .right h2 ul li {

    font-size: 16px;
    line-height: 16px;
    color: var(--font_color);
    font-weight: 300;
    font-family: var(--roboto);
}

#community .community_process {
    text-align: center;
    padding-top: 40px;
    border: var(--border);

}

#community .community_process a {
    border: 1px solid var(--brand_color);
    border-radius: 50%;
    /* padding: 10px 15px; */
    height: 45px;
    width: 45px;
    line-height: 45px;

}

#community .community_process a i {
    color: var(--brand_color);

}

#community .community_process:hover a {
    background-color: var(--brand_color);
}

#community .community_process:hover a i {
    color: var(--white);

}

#community .community_process p {
    font-size: 12px;
    line-height: 12px;
    color: var(--font_color);
    font-weight: 300;
    font-family: var(--roboto);
    text-align: center;
    padding-top: 15px;
}

/**community part end**/


/**services part start**/

#services {
    padding-bottom: 100px;
}

#services .service_body {
    border: var(--border);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
}

#services .service_body .border_line {
    border: 1px solid #cccccc;
    width: 70px;
    margin: auto;
}

#services .service_body h2 {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 60px;
    color: var(--font_color);
    font-weight: 500;
    font-family: var(--roboto);
    text-align: center;
    padding-bottom: 5px;
}

#services .service_body .count_part {
    border: 1px solid var(--brand_color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.508);
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin: auto;

}

#services .service_body .count_part h2 {
    font-size: 23px;
    line-height: 23px;
    color: var(--font_color);
    font-weight: 500;
    font-family: var(--roboto);
    text-align: center;
    padding-top: 30px;
}

#services .service_body .count_part p {
    font-size: 10px;
    line-height: 10px;
    color: #777777;
    font-weight: 300;
    font-style: italic;
    font-family: var(--roboto);
    text-align: center;
}


#services .service_body .service_list {
    padding-top: 35px;
    padding-bottom: 30px;
}

#services .service_body .service_list ul {
    text-align: center;
}

#services .service_body .service_list ul li {}

#services .service_body .service_list ul li i {
    margin-right: 10px;
}

#services .service_body .service_list ul li i.icon_green {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #5db442;
    text-align: center;
}

#services .service_body .service_list ul li i.icon_red {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 30px;
    color: red;
    text-align: center;
}

#services .service_body .link_button {
    text-align: center;
    padding-bottom: 40px;
}

#services .service_body .link_button a {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 30px;
    color: var(--font_color);
    font-weight: 400;
    font-family: var(--roboto);
    text-align: center;
    border: var(--border);
    height: 30px;
    width: 120px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
}

#services .service_body:hover .border_line {
    border: 1px solid var(--brand_color);

}

#services .service_body:hover .link_button a {
    background-color: var(--brand_color);
    color: var(--white);
}


/**services part end**/


/** data_integration part start**/

#data_integration {}

#data_integration .edition_body {
    border: var(--border);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.337);
    margin-bottom: 30px;
    transition-duration: .3s;
}


#data_integration .edition_body .icon_part {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

#data_integration .edition_body .icon_part i {
    font-size: 60px;
    line-height: 60px;
    color: #5db442;
    text-align: center;
    transition-duration: .3s;
}
#data_integration .edition_body .line_br{
    border: 1px solid #cccccc;
    width: 70px;
    margin: auto;
    transition-duration: .3s;
}


#data_integration .edition_body h2 {
    font-size: 16px;
    line-height: 16px;
    color: var(--black_head);
    font-weight: 400;
    font-family: var(--roboto);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    transition-duration: .3s;
}

#data_integration .edition_body p {

    font-size: 12px;
    line-height: 22px;
    color: #777777;
    font-weight: 300;
    font-family: var(--roboto);
    text-align: center;
    padding-bottom: 60px;
    transition-duration: .3s;
}


.edition_body:hover {
    background-color: var(--brand_color);
    color: var(--white);
}


#data_integration .edition_body:hover .icon_part i{
    background-color: var(--brand_color);
    color: var(--white);
}

#data_integration .edition_body:hover .line_br{
    border: 1px solid var(--white);
}

#data_integration .edition_body:hover h2{
    color: var(--white);
}

#data_integration .edition_body:hover p{
    color: var(--white);
}

/** data_integration part end**/



/**footer part start**/

#footer {}

#footer .footer_top {
    padding-top: 70px;
    border: var(--border);
    /* padding-bottom: 50px; */
}

#footer .footer_top .newsletter {}

#footer .footer_top .newsletter .heading_1 {}

#footer .footer_top .newsletter .heading_1 h2 {
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 16px;
    color: var(--black);
    font-weight: 400;
    font-family: var(--roboto);
}

#footer .footer_top .newsletter .heading_1 p {
    padding-bottom: 25px;
    font-size: 12px;
    line-height: 18px;
    color: var(--font_color);
    font-weight: 300;
    font-family: "Roboto";
}

#footer .footer_top .newsletter form {
    padding-bottom: 100px;
    display: flex;
  
}

#footer .footer_top .newsletter form .search {
    font-size: 12px;
    line-height: 24px;
    /* color: #dedede; */
    font-weight: 250;
    font-style: italic;
    font-family: var(--roboto);
    padding-left: 10px;
    flex: 1;
    border: 1px solid var(--white);
   
}

#footer .footer_top .newsletter form button {
    background-color: var(--brand_color);
    /* line-height: 30px; */
    padding: 20px 25px;
    display: inline-block;
    /* height: 40px;
    width: 50px; */
    border: 1px solid var(--white);
 }

#footer .footer_top .newsletter form button i {
    color: var(--white);
}


#footer .footer_top .quick_links {}

#footer .footer_top .quick_links h2 {
    padding-bottom: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 16px;
    color: #010101;
    font-weight: 400;
    font-family: var(--roboto);
}

#footer .footer_top .quick_links ul {}

#footer .footer_top .quick_links ul li {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #333333;
    font-weight: 300;
    font-family: var(--roboto);
}

#footer #footer_bottom {
    padding-top: 45px;
    padding-bottom: 10px;
    border: var(--border);
}

#footer .footer_bottom img {}

#footer_bottom p {
    font-size: 11px;
    line-height: 17px;
    color: #777777;
    font-weight: 300;
    font-family: var(--roboto);
    text-align: right;
    padding-bottom: 10px;
}

/**footer part end**/